<div id="lead">
  
  <div id="lead-content">
      <h2 style="color:white; font-size: 64px; font-weight: bold;">{{ name }}</h2>
      <h2> {{ description }}</h2>
      <a href="/assets/kushagra_kasliwal_CV.pdf" target="blank" class="btn-rounded-white">View Resume</a>
  </div>

  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>

  <div id="lead-down" [scrollTo]="'#about'" [scrollDuration]="500" >
    <span>
      <i class="fa fa-chevron-down" aria-hidden="true" id="lead-chevron" ></i>
    </span>
  </div>

</div>


