<div id="getInTouch" style="text-align: center;" >
    <h2>Get in Touch</h2>
  
  
    <ul style="margin-left: -45px; list-style-type: none;">
      
    <li> <a id="email" (click)="copyEmail();" href="javascript:void(0);" class="email"></a> </li>

    <div id="snackbar">Copied Email Address</div>
          
    <li> <a href="{{linkedin}}" target="blank" class="linkedin"></a> </li>
  
  
    <li> <a href="{{hackerrank}}" target="blank" class="hackerrank"></a> </li>
  
  
    <li>   <a href="{{github}}" target="blank" class="github"></a>   </li>
  

  </ul>  
  
</div>