<div class="project-page-header background-alt" id="lead">
  <h1>{{project.title}}</h1>

  <div class="card-container">
    <div class="card card-small" style="padding: 32px;" *ngFor="let skill of project.technologiesUsed" >
      <span>{{ skill }}</span>
    </div>
</div>

</div>

<div class="container project-page-contents">
  <div class="row">
    <p><a routerLink="/" routerLinkActive="active">Back to homepage</a></p>
    

    <h2>Overview</h2>
    <p>
      {{project.description}}
    </p>

    <h2>Screenshots</h2>

    <ng-container *ngFor="let ss of project.screenshots">

    <img class="img-responsive" src="{{ss}}"  />
    </ng-container>
  </div>
</div>


<app-footer></app-footer>
  